# ===== 通用 =====
**/node_modules
**/dist
**/target
**/*.log
.DS_Store
*.local

# ===== 编辑器 =====
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===== 前端 =====
.env
.env.development
.env.production
.vite

# ===== 后端 =====
*.class
*.jar
